.App {
  text-align: center;
}
h1 {
  font-size: 90px;
  margin: 20px;
}
button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
